body > .container {
	padding: 60px 15px 0;
}

code {
	font-size: 80%;
}

@media (max-width: 991.98px) {
	html {
		width: 100% !important;
	}

	body#body {
		margin-left: 0% !important;
		height: 100% !important;
		width: 100% !important;
	}
	div.row#main {
		margin-left: 0% !important;
		margin-right: 0% !important;
	}

	#main {
		height: 100%;
		width: 100%;
		margin-top: 2.5%;
	}
}

@media (max-width: 1024px) {
	.sidenav-fixed-right {
		display: none !important;
	}
}

@media screen and (max-height: 450px) {
	.sidenav-fixed-right {padding-top: 15px;}
	.sidenav-fixed-right a {font-size: 18px;}
}

@media (min-width: 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}

@media (min-width: 1100px) {
	html {
		position: relative;
		min-height: 100%;
	}
	body {
		margin-bottom: 60px;
		padding-top: 3rem;
		padding-bottom: 3rem;
		color: #5a5a5a;
	}

	body#body {
		margin-left: 10.5%; 
		padding: 0px 10px;
	}

	#main {
		height: 100%;
		width: 89%;
		margin-left: 5%;
		margin-top: 2.5%;
	}
}


button[type=button].close {
	color: black !important;
}

span.navbar-text a.nav-link {
	color: #ffc107 !important;
}

span.navbar-text:hover .nav-link {
	background-color: #111 !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 89%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 0px;
	padding-left: 0px;
}

.carousel {
	margin-bottom: 4rem;
}

.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

.carousel-item {
	height: 32rem;
	background-color: #777;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;	
}
.marketing .col-lg-4 p {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

.featurette-divider {
	margin: 5rem 0;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.05rem;
}

.menu {
	line-height: 60px;
	font-size: 1.9em !important;
	padding-left:0px !important; 
	margin-bottom:30px;
}

.sidenav-fixed-right {
	height: 100%;
	width: 13%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
}

.sidenav-fixed-right a {
	padding: 6px 8px 6px 20px;
	text-decoration: none;
	font-size: 20px;
	color: #ffc107;
	display: block;
}

.sidenav-fixed-right a.menu {
	color: #111 !important;
}

.sidenav-fixed-right a:hover {
	color: #111;
	background-color: #ffc107;
}

.activeSN {
	color: #111 !important;
	border-left: 6px solid #ffc107;
    background-color: white;
	/* background-color: #343a40 !important; */
}

.nav-link.active {
	background-color: #ffc107  !important;
	color: #343a40  !important;
}

.nav-link {
	color: #343a40  !important;
}

b {
	color: black !important;
}